input
{
    padding-right:1.6em;
}

input:invalid
{
    background: #FFE0E0 url(excl.svg) no-repeat right center;
    background-size: 1.5em 1.5em;
}
input:valid
{
    background: #FFFFFF url(good.svg) no-repeat right center; /* #E0FFE0 */
    background-size: 1.5em 1.5em;
}

